<div class="container" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; box-sizing: content-box">
    <div class="row mb-1 justify-content-start">
        <div class="@@header_column wow animate__animated animate__fadeInRight" data-wow-delay="0.8s">
            <div class="solutions-header">
                @@header
            </div>
        </div>
        <div class="col">

        </div>
    </div>

    @@for (var i = 0; i < descriptions.length; i++) { @@include('./innovations_description_part.html',
        `+(JSON.stringify({"description":descriptions[i], "spacer_column" :header_column,"text_column"
        :text_column}))+`) }

        </div>