<!-- Start Footer Area -->
<footer class="footer"> <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-about">
                            <div class="logo"> <a href="/index.html"> <img src="/dist/assets/dark-logo.svg" alt="#">
                                </a>
                            </div> <br>
                            <p>© Copyright 2023 ecoTRUCK<br> All rights reserved.</p>
                            <!-- Social Media Links -->
                            <!-- <span class="social-title"> Follow Us On: </span>
                            <ul class="social">
                                <li> <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a> </li>
                                <li> <a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a> </li>
                                <li> <a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a> </li>
                                <li> <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                                </li>
                            </ul>  -->
                        </div> <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>INNOWACJE</h3>
                            <ul>
                                <li><a href="/innowacje/zdalna_diagnoza.html">Zdalna diagnoza pojazdu</a></li>
                                <li><a href="/innowacje/usuwanie_redukcji_mocy.html">Usuwanie redukcji mocy</a></li>
                                <li><a href="/innowacje/live_data.html">Live data</a></li>
                                <li><a href="/innowacje/monitoring_zuzycia.html">Monitoring zużycia pojazdu</a></li>
                                <li><a href="/innowacje/monitoring_cisnienia.html">Monitoring cisnienia opon</a></li>
                                <li><a href="/innowacje/fuelguard.html">FuelGuard</a></li>
                                <li><a href="/innowacje/automatyczna_ewidencja.html">Automatyczna ewidencja pracy</a>
                                </li>
                            </ul>
                        </div> <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>ROZWIĄZANIA</h3>
                            <ul>
                                <li><a href="/rozwiazania/monitoring_gps.html">Monitoring GPS</a></li>
                                <li><a href="/rozwiazania/monitoring_zuzycia_paliwa.html">Monitoring paliwa i
                                        AdBlue®</a></li>
                                <li><a href="/rozwiazania/zarzadzanie_naczepami.html">Zarządzanie naczepami</a></li>
                                <li><a href="/rozwiazania/kontrola_czasu.html">Kontrola czasu pracy</a></li>
                                <li><a href="/rozwiazania/pobieranie_tacho.html">Pobieranie tacho DDD</a></li>
                                <li><a href="/rozwiazania/komunikator_firma_kierowca.html">Komunikator firma -
                                        kierowca</a></li>
                            </ul>
                        </div> <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>POZNAJ</h3>
                            <ul>
                                <li><a href="/index.html">O systemie</a></li>
                                <li><a href="/dlaczego_my.html">Dlaczego my</a></li>
                                <!-- <li><a href="javascript:void(0)">Prywatność</a></li> -->
                                <li>&nbsp;</li>
                            </ul>
                            <h3><a href="/kontakt.html">KONTAKT</a></h3>
                        </div> <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/ End Footer Top -->
    <!-- Start Copyright Area >                <div class="copyright">            <div class="container">                <div class="inner-content">                    <div class="row">                        <div class="col-12">                            <p class="copyright-text">&nbsp;                                                        </p>                        </div>                    </div>                </div>            </div>        </div>        <!-- End Copyright Area -->
</footer> <!--/ End Footer Area -->