<!-- Start Hero Area -->
<!--background-color: rgba(0, 0, 0, 0.5);-->
<section class="about-us-img-header container-fluid vw-100 d-flex align-items-center"
    style="height: @@height;">
    
    <img src="@@background_image" alt="background image" class="img-fluid position-absolute w-100 h-100"
    style="object-fit: cover; z-index: -1; top: 0; left: 0;">


    <div class="row container-row">
        <div class="col-12">
            <h2 class="wow animate__animated animate__fadeInUp" data-wow-delay=".4s"
                style="visibility: visible; ">
                @@header
            </h2>
        </div>

    </div>

</section>

<!-- End Hero Area -->