<!-- Start Footer Area -->
<footer class="footer"> <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-about">
                            <div class="logo"> <a href="/index.html"> <img src="/dist/assets/SVG/dark-logo.svg"
                                        alt="#">
                                </a>
                            </div> <br>
                            <p>{{{text.footer_copyright_info}}}</p>
                        </div> <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>{{{text.footer_header_1}}}</h3>
                            <ul>
                                <li><a href="/innowacje/zdalna_diagnoza.html">{{{text.footer_innovations_item_1}}}</a></li>
                                <li><a href="/innowacje/usuwanie_redukcji_mocy.html">{{{text.footer_innovations_item_2}}}</a></li>
                                <li><a href="/innowacje/live_data.html">{{{text.footer_innovations_item_3}}}</a></li>
                                <li><a href="/innowacje/monitoring_zuzycia.html">{{{text.footer_innovations_item_4}}}</a></li>
                                <li><a href="/innowacje/monitoring_cisnienia.html">{{{text.footer_innovations_item_5}}}</a></li>
                                <li><a href="/innowacje/fuelguard.html">{{{text.footer_innovations_item_6}}}</a></li>
                                <li><a href="/innowacje/automatyczna_ewidencja.html">{{{text.footer_innovations_item_7}}}</a>
                                </li>
                            </ul>
                        </div> <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>{{{text.footer_header_2}}}</h3>
                            <ul>
                                <li><a href="/rozwiazania/monitoring_gps.html">{{{text.footer_solutions_item_1}}}</a></li>
                                <li><a href="/rozwiazania/monitoring_zuzycia_paliwa.html">{{{text.footer_solutions_item_2}}}</a></li>
                                <li><a href="/rozwiazania/zarzadzanie_naczepami.html">{{{text.footer_solutions_item_3}}}</a></li>
                                <li><a href="/rozwiazania/kontrola_czasu.html">{{{text.footer_solutions_item_4}}}</a></li>
                                <li><a href="/rozwiazania/pobieranie_tacho.html">{{{text.footer_solutions_item_5}}}</a></li>
                                <li><a href="/rozwiazania/komunikator_firma_kierowca.html">{{{text.footer_solutions_item_6}}}</a></li>
                            </ul>
                        </div> <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12"> <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>{{{text.footer_header_3}}}</h3>
                            <ul>
                                <li><a href="/index.html">{{{text.footer_about_item_1}}}</a></li>
                                <li><a href="/dlaczego_my.html">{{{text.footer_about_item_2}}}</a></li>
                                <!-- <li><a href="javascript:void(0)">Prywatność</a></li> -->
                                <li>&nbsp;</li>
                            </ul>
                            <h3><a href="/kontakt.html">{{{text.footer_header_4}}}</a></h3>
                            <p class="contact-details">{{{text.footer_contact_info}}}</p>
                        </div> <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/ End Footer Top -->
    <!-- Start Copyright Area >                <div class="copyright">            <div class="container">                <div class="inner-content">                    <div class="row">                        <div class="col-12">                            <p class="copyright-text">&nbsp;                                                        </p>                        </div>                    </div>                </div>            </div>        </div>        <!-- End Copyright Area -->
</footer> <!--/ End Footer Area -->