<header class="header navbar-area">
        <div class="container-fluid">
                <div class="row align-items-end ps-3 pe-3">
                        <div class="col-lg-12 ">
                                <div class="nav-inner"> <!-- Start Navbar -->
                                        <nav class="navbar navbar-expand-lg"> <a class="navbar-brand"
                                                        href="/index.html"> <img src="/dist/assets/SVG/dark-logo.svg"
                                                                alt="Logo">
                                                </a> <button class="navbar-toggler mobile-menu-btn" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#navbarSupportedContent"
                                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                                        aria-label="Toggle navigation">
                                                        <span class="toggler-icon"></span> <span
                                                                class="toggler-icon"></span> <span
                                                                class="toggler-icon"></span> </button>
                                                <div class="collapse navbar-collapse sub-menu-bar"
                                                        id="navbarSupportedContent">
                                                        <ul id="nav" class="navbar-nav ms-auto">
                                                                <li class="nav-item"> <a href="/index.html"
                                                                                class="@@active_o_systemie"
                                                                                aria-label="Toggle navigation">{{{text.menu_link_1}}}</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                        <!--Too long description may move crump on mobile-->
                                                                        <a class="dd-menu collapsed @@active_innowacje"
                                                                                href="javascript:void(0)"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#submenu-1-1"
                                                                                aria-controls="navbarSupportedContent"
                                                                                aria-expanded="false"
                                                                                aria-label="Toggle navigation">{{{text.menu_submenu_1_header}}}</a>
                                                                        <ul class="sub-menu collapse" id="submenu-1-1">
                                                                                <li
                                                                                        class="nav-item @@active_zdalna_diagnoza">
                                                                                        <a
                                                                                                href="/innowacje/zdalna_diagnoza.html">{{{text.menu_submenu_1_1}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_usuwanie_redukcji_mocy">
                                                                                        <a
                                                                                                href="/innowacje/usuwanie_redukcji_mocy.html">{{{text.menu_submenu_1_2}}}</a>
                                                                                </li>
                                                                                <li class="nav-item @@active_live_data">
                                                                                        <a
                                                                                                href="/innowacje/live_data.html">{{{text.menu_submenu_1_3}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_monitoring_zuzycia">
                                                                                        <a
                                                                                                href="/innowacje/monitoring_zuzycia.html">{{{text.menu_submenu_1_4}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_monitoring_cisnienia">
                                                                                        <a
                                                                                                href="/innowacje/monitoring_cisnienia.html">{{{text.menu_submenu_1_5}}}</a>
                                                                                </li>
                                                                                <li class="nav-item @@active_fuelguard">
                                                                                        <a
                                                                                                href="/innowacje/fuelguard.html">{{{text.menu_submenu_1_6}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_automatyczna_ewidencja">
                                                                                        <a
                                                                                                href="/innowacje/automatyczna_ewidencja.html">{{{text.menu_submenu_1_7}}}</a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li class="nav-item"> <a
                                                                                class="dd-menu collapsed @@active_rozwiazania"
                                                                                href="javascript:void(0)"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#submenu-1-2"
                                                                                aria-controls="navbarSupportedContent"
                                                                                aria-expanded="false"
                                                                                aria-label="Toggle navigation">{{{text.menu_submenu_2_header}}}</a>
                                                                        <ul class="sub-menu collapse" id="submenu-1-2">
                                                                                <li
                                                                                        class="nav-item @@active_monitoring_gps">
                                                                                        <a
                                                                                                href="/rozwiazania/monitoring_gps.html">{{{text.menu_submenu_2_1}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_monitoring_zuzycia_paliwa">
                                                                                        <a
                                                                                                href="/rozwiazania/monitoring_zuzycia_paliwa.html">{{{text.menu_submenu_2_2}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_zarzadzanie_naczepami">
                                                                                        <a
                                                                                                href="/rozwiazania/zarzadzanie_naczepami.html">{{{text.menu_submenu_2_3}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_kontrola_czasu">
                                                                                        <a
                                                                                                href="/rozwiazania/kontrola_czasu.html">{{{text.menu_submenu_2_4}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_pobieranie_tacho">
                                                                                        <a
                                                                                                href="/rozwiazania/pobieranie_tacho.html">{{{text.menu_submenu_2_5}}}</a>
                                                                                </li>
                                                                                <li
                                                                                        class="nav-item @@active_komunikator_firma_kierowca">
                                                                                        <a
                                                                                                href="/rozwiazania/komunikator_firma_kierowca.html">{{{text.menu_submenu_2_6}}}</a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li class="nav-item"> <a href="/dlaczego_my.html"
                                                                                class="@@active_dlaczego_my"
                                                                                aria-label="Toggle navigation">{{{text.menu_link_2}}}</a> </li>
                                                                <li class="nav-item"> <a href="/kontakt.html"
                                                                                class="@@active_kontakt"
                                                                                aria-label="Toggle navigation">{{{text.menu_link_3}}}</a>
                                                                </li>
                                                        </ul>
                                                </div> <!-- navbar collapse -->
                                                <!-- <div class="button">                            <a href="pricing.html" class="btn">Get Tickets<i class="lni lni-ticket"></i></a>                        </div>-->
                                        </nav> <!-- End Navbar -->
                                </div>
                        </div>
                </div> <!-- row -->
        </div> <!-- container -->
</header><!-- End Header Area -->