<!-- Start Hero Area -->
<!--background-color: rgba(0, 0, 0, 0.5);-->
<section class="hero-area container-fluid vh-100 vw-100 d-flex align-items-end">
    
    <img src="@@background_image" alt="background image" class="img-fluid position-absolute w-100 h-100"
        style="object-fit: cover; z-index: -1; top: 0; left: 0;">

    <div class="fluid-container h-90 w-100 "
        style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; top: 0; left:0">
        <div class="row container-row w-100 ">
            <div class="row align-items-center mb-3">
                <div class="col-9">
                    <h2 class="wow animate__animated animate__fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; ">
                        @@header
                    </h2>
                </div>
                <div class="col"></div>
            </div>

            <div class="row align-items-center">

                <h3 class="wow animate__animated animate__fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; ">
                    @@description
                </h3>

            </div>

            <div class="row button-container align-items-center justify-content-start">
                <div class="col-auto pt-2 ">
                    <div class="button-transparent wow animate__animated animate__fadeInUp" data-wow-delay=".8s"
                        style="visibility: visible; ">
                        <a href="./kontakt.html" class="btn">{{{text.all_hero_button_white}}}</a>
                    </div>
                </div>
                <div class="col-auto pt-2">
                    <div class=" button-blue wow animate__animated animate__fadeInUp" data-wow-delay="1.2s"
                        style="visibility: visible; ;">
                        <a href="./kontakt.html" class="btn">{{{text.all_hero_button_blue}}}</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="arrow-down-container d-flex w-100 justify-content-center gx-0 mb-2" style="padding-left: 0!important">
            <a href="#description">
                <svg class="arrow-down text-center" xmlns="http://www.w3.org/2000/svg" style="fill: #f6f5f489;"
                    viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                </svg>
            </a>
        </div>

    </div>

</section>

<!-- End Hero Area -->