<header class="header navbar-area pt-4 pb-4">
        <div class="container-fluid">
                <div class="row align-items-end ps-3 pe-3">
                        <div class="col-lg-12 ">
                                <div class="nav-inner"> <!-- Start Navbar -->
                                        <nav class="navbar navbar-expand-lg"> <a class="navbar-brand"
                                                        href="/index.html"> <img src="/dist/assets/dark-logo.svg"
                                                                alt="Logo">
                                                </a> <button class="navbar-toggler mobile-menu-btn" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#navbarSupportedContent"
                                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                                        aria-label="Toggle navigation">
                                                        <span class="toggler-icon"></span> <span
                                                                class="toggler-icon"></span> <span
                                                                class="toggler-icon"></span> </button>
                                                <div class="collapse navbar-collapse sub-menu-bar"
                                                        id="navbarSupportedContent">
                                                        <ul id="nav" class="navbar-nav ms-auto">
                                                                <li class="nav-item"> <a href="/index.html"
                                                                                class="active"
                                                                                aria-label="Toggle navigation">O
                                                                                SYSTEMIE</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                        <!--Too long description may move crump on mobile-->
                                                                        <a class="dd-menu collapsed"
                                                                                href="javascript:void(0)"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#submenu-1-1"
                                                                                aria-controls="navbarSupportedContent"
                                                                                aria-expanded="false"
                                                                                aria-label="Toggle navigation">INNOWACJE</a>
                                                                        <ul class="sub-menu collapse" id="submenu-1-1">
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/zdalna_diagnoza.html">Zdalna
                                                                                                diagnoza pojazdu</a>
                                                                                </li>
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/usuwanie_redukcji_mocy.html">Usuwanie
                                                                                                redukcji mocy</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/live_data.html">Live
                                                                                                data</a>
                                                                                </li>
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/monitoring_zuzycia.html">Monitoring
                                                                                                zużycia pojazdu</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/monitoring_cisnienia.html">Monitoring
                                                                                                ciśnienia opon</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/fuelguard.html">FuelGuard</a>
                                                                                </li>
                                                                                <li class="nav-item"><a
                                                                                                href="/innowacje/automatyczna_ewidencja.html">Automatyczna
                                                                                                ewidencja pracy</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li class="nav-item"> <a class="dd-menu collapsed"
                                                                                href="javascript:void(0)"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#submenu-1-2"
                                                                                aria-controls="navbarSupportedContent"
                                                                                aria-expanded="false"
                                                                                aria-label="Toggle navigation">ROZWIAZANIA</a>
                                                                        <ul class="sub-menu collapse" id="submenu-1-2">
                                                                                <li class="nav-item"><a
                                                                                                href="/rozwiazania/monitoring_gps.html">Monitoring
                                                                                                GPS</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/rozwiazania/monitoring_zuzycia_paliwa.html">Monitoring
                                                                                                paliwa i AdBlue®</a>
                                                                                </li>
                                                                                <li class="nav-item"><a
                                                                                                href="/rozwiazania/zarzadzanie_naczepami.html">Zarządzanie
                                                                                                naczepami</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/rozwiazania/kontrola_czasu.html">Kontrola
                                                                                                czasu
                                                                                                pracy</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/rozwiazania/pobieranie_tacho.html">Pobieranie
                                                                                                tacho DDD</a></li>
                                                                                <li class="nav-item"><a
                                                                                                href="/rozwiazania/komunikator_firma_kierowca.html">Komunikator
                                                                                                firma -
                                                                                                kierowca</a></li>
                                                                        </ul>
                                                                </li>
                                                                <li class="nav-item"> <a href="/dlaczego_my.html"
                                                                                aria-label="Toggle navigation">DLACZEGO
                                                                                MY</a> </li>
                                                                <li class="nav-item"> <a href="/kontakt.html"
                                                                                aria-label="Toggle navigation">KONTAKT</a>
                                                                </li>
                                                        </ul>
                                                </div> <!-- navbar collapse -->
                                                <!-- <div class="button">                            <a href="pricing.html" class="btn">Get Tickets<i class="lni lni-ticket"></i></a>                        </div>-->
                                        </nav> <!-- End Navbar -->
                                </div>
                        </div>
                </div> <!-- row -->
        </div> <!-- container -->
</header><!-- End Header Area -->